<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>Home Page</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="style.css" media="screen">
            <script src="index.js" charset="utf-8" defer></script>
            {{!-- <script src="scrapers.js"></script> --}}

    </head>
    <body>
        {{{body}}}
    </body>
</html>